.productCard {
	background-color: white;
	border-radius: 15px;
	color: black;
	padding-bottom: 5px;
	width: 250px;
	margin-right: 5px;
	margin-top: 5px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.productImg {
	border-radius: 15px 15px 0px 0px;
	width: 100%;
}

.productDescription {
	margin: 10px;
}

.buttonsContainer {
	margin: 10px;
	display: flex;
	flex-direction: row;
	border-color: aliceblue;
}

.buttonMinus {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px 0px 0px 5px;
	font-size: 20px;
	width: 30px;
}

.buttonMinus:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-size: 16px;
	height: 25px;
	padding-top: 5px;
	text-align: center;
	width: 30px;
}

.buttonAdd {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 0px 5px 5px 0px;
	font-size: 20px;
	width: 30px;
}

.buttonAdd:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.sideCartContainer {
	position: fixed;
	height: 100vh;
	overflow-y: scroll;
	top: 0px;
	right: 0px;
	background-color: blue;
}

.cartIndividualCont {
	position: relative;
	width: 100%;
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: red;
}

.disabled {
	border: 1px solid lightgray !important;
	border-left: 1px solid white !important;
	background-color: lightgrey !important;
}
